@import 'src/common/colorPalette.scss';
@import "../../common/mixin.scss";

.user-signup-container {
    background-color: $primary-color;
    text-align: center;
    padding: 0 10%;
    height: fit-content;

    @include breakpoint(small) {
        @include login-signup-cntainer;
    }

    .user-signup {
        &-heading {
            text-align: center;
            font-size: 50px;
            color: $secondary-color;
            margin-top: 0;
            padding-top: 25px;

            @include breakpoint(small) {
                padding-top: 50px;
                font-size: 40px;
            }
        }

        &-subheading {
            text-align: center;
            font-size: 30px;
            color: $secondary-color;

            @include breakpoint(small) {
                padding-top: 50px;
                font-size: 40px;
            }
        }
    }
}