.bg-image {
    background-image: url('../assets/images/RegistrationSignInBackground.png');
    background-repeat: no-repeat;
    background-position: 165px 0;
    position: fixed;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    z-index: -1;
    opacity: 0.4;
}